.navbar {
  border-top: 1px solid #cecece;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0.2rem;
  z-index: 1;
  overflow: visible;
  margin-top: 10%;
}

img {
  border: 0;
  transform: translateY(7px);
}

button {
  border: 0;
  outline: none;
  background-color: #f2f2f2;
}

button img:hover {
  cursor: pointer;
}

.volumeContainer {
  display: inline-block;
  position: relative;
  margin-left: 1.5rem;
}

.volumeSlider {
  transform: rotate(270deg);
  position: absolute;
  /* height: 9rem; */
  height: 1px;
  right: -3rem;
  bottom: 5rem;
  z-index: 1;
  /* background: linear-gradient(
    to right,
    grey 0%,
      grey 0%,
      grey 0%,
      grey 100%  #ffa500 0%,
    #ffa500 0%,
    #fff 0%,
    #fff 100%
  ); */
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
}

.volumeSlider:hover::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border: 1px solid #ffa500;
  border-radius: 50%;
  background-color: #ffa500;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.progressBar {
  background: linear-gradient(
    to right,
    grey 0%,
    grey 0%,
    grey 0%,
    grey 100% #ffa500 0%,
    #ffa500 0%,
    #fff 0%,
    #fff 100%
  );
  border: solid 1px grey;
  border-radius: 8px;
  height: 1px;
  width: 35%;
  margin-bottom: 20px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
}

.progressBar:hover::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border: 1px solid orange;
  border-radius: 50%;
  background: orange;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.currentTime {
  color: #f50;
  margin-left: 10px;
  padding-right: 0.5rem;
  font-size: 0.8rem;
}

.songDuration {
  color: #333;
  cursor: pointer;
  padding-left: 0.5rem;
  font-size: 0.8rem;
}

.progressContainer {
  display: inline;
  margin-left: 2rem;
  padding-bottom: 5rem;
}
