.img {
  border: 0;
  transform: translateY(7px);
}

#songTitle {
  color: #666;
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 11px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  transform: translateY(-4px);
}

#songTitle:hover {
  color: black;
}

#artistName {
  color: #999;
  cursor: pointer;
  font-size: 11px;

  margin-left: 0.5rem;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-row: 1;
  transform: translateY(10px);
}

#artistName:hover {
  color: black;
}

.artContainer {
  display: inline-grid;
  margin-left: 1rem;
  grid-template-rows: 2;
  grid-template-columns: 2;
}

.albumArt {
  border-color: #333;
  width: 2rem;
  height: 2rem;
  border: 0.5px black;
  cursor: pointer;
  transform: translateY(10px);
  grid-column-start: 1;
  grid-column-end: 1;
}
