img {
  border: 0;
  transform: translateY(7px);
}

button {
  border: 0;
  outline: none;
  background-color: #f2f2f2;
}

button img:hover {
  cursor: pointer;
}

.functionsContainer {
  display: inline;
  margin-left: 6rem;
  transform: translateY(10px);
}
