* {
  font: 12px, Arial;
}

.topbar {
  display: grid;
  grid-template-columns: auto, auto;
  grid-area: topbar;
  justify-self: center;
  align-content: center;
  color: rgb(182, 174, 174);

  width: 300px;
  height: 30px;
  border-bottom: 1px solid gainsboro;
  margin: 10px;
}

.topbar:hover .view {
  color: rgb(82, 78, 78);
}

.likes-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
  background-size: 20px;
  border: 0;
  width: 20px;
  height: 20px;
  grid-column: 1;
  justify-self: start;
  margin-right: 5px;
}

.reposts-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfcmVwb3N0PC90aXRsZT48cGF0aCBkPSJNMiA2djVjMCAxLjEwNS45MDIgMiAyLjAwOSAyaDYuOTg3SDEwbC0yLTJINFY2aC0uNUg2TDMgMyAwIDZoMnptNC0zaC0uOTk2IDYuOTg3QzEzLjA5OCAzIDE0IDMuODk1IDE0IDV2NWgtMlY1SDhMNiAzem0xMCA3aC02bDMgMyAzLTN6IiBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
  background-size: 20px;
  width: 20px;
  height: 20px;
  grid-column: 1;
  justify-self: start;
  margin-right: 5px;
}

.descriptor {
  grid-column: 1;
  justify-self: start;
  align-self: center;
  margin-bottom: 5px;
}

.descriptor-text {
  display: inline-block;
}

.view {
  grid-column: 3;
  justify-self: end;
  align-self: center;
}

.master-container {
  display: grid;
  grid-template-rows: 25px, 30px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'topbar'
    'item';
  justify-items: center;
  width: 300px;
  margin-bottom: 12px;
}
