.topbar {
  display: grid;
  grid-template-columns: auto, auto;
  grid-area: topbar;
  justify-self: center;
  align-items: center;
  color: rgb(182, 174, 174);

  width: 300px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.topbar:hover .view {
  color: rgb(82, 78, 78);
}
.item {
  grid-area: item;
  color: rgb(182, 174, 174);
}

.descriptor {
  display: flexbox;
  flex-flow: row;
  align-content: center;
  grid-column: 1;
  justify-self: start;
}

.descriptor-text {
  display: inline-block;
  margin-bottom: 3px;
}
.view {
  grid-column: 2;
  justify-self: end;
}

.tracks-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCI+PHBhdGggZmlsbD0iIzk5OSIgZD0iTTUgMTJoMnY0SDV6TTIxIDEyaDJ2NGgtMnpNMTcgMTBoMnY4aC0yek05IDhoMnYxMkg5ek0xMyA1aDJ2MThoLTJ6Ii8+PC9zdmc+');
  width: 20px;
  height: 20px;
  grid-column: 1;
  justify-self: start;
  margin-right: 10px;
}

.playlists-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+aWNfcGxheWxpc3RfMTg8L3RpdGxlPjxnIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTIgNmgxMHYxMEgyeiIvPjxwYXRoIGZpbGwtb3BhY2l0eT0iLjciIGQ9Ik01IDJoMTF2MTBoLTJWNEg1eiIvPjwvZz48L3N2Zz4=');
  width: 18px;
  height: 18px;
  grid-column: 1;
  justify-self: start;
  margin-right: 10px;
}

.albums-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+aWNfcGxheWxpc3RfMTg8L3RpdGxlPjxnIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTIgNmgxMHYxMEgyeiIvPjxwYXRoIGZpbGwtb3BhY2l0eT0iLjciIGQ9Ik01IDJoMTF2MTBoLTJWNEg1eiIvPjwvZz48L3N2Zz4=');
  width: 18px;
  height: 18px;
  grid-column: 1;
  justify-self: start;
  margin-right: 10px;
}

.master-container {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 25px, auto, auto, auto;
  grid-template-areas:
    'topbar'
    'item'
    'item'
    'item';
  justify-items: start;
}
