.art {
  height: 50px;
  width: 50px;
  grid-column: 1;
  grid-row: 1 / span 3;
  margin: 0 10px 0 0;
}

.username {
  color: rgb(182, 174, 174);
}
.title {
  color: rgb(182, 174, 174);
}

.likes {
  margin: 7px;
}

.reposts {
  margin: 7px;
}

.info {
  display: flex-box;
  flex-flow: column;
  justify-content: space-evenly;
  grid-column: 2;
  justify-self: end;
  align-content: center;
  width: 220px;
}
.icon-bar {
  display: flexbox;
  flex-flow: row;
  flex-grow: 1;
  justify-content: flex-start;

  color: rgb(182, 174, 174);
}
.container {
  display: grid;
  grid-template-columns: 40px, 160px;
  grid-template-rows: 1, 1, 1;
  grid-gap: 10px;
  width: 200px;
  margin: 20px;
}
