.art {
  height: 50px;
  width: 50px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}

.username {
  color: rgb(182, 174, 174);
}
.title {
  color: rgb(182, 174, 174);
}

.likes {
  margin: 7px;
}

.reposts {
  margin: 7px;
}

.icon-bar {
  display: flexbox;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-around;
  color: rgb(182, 174, 174);
  justify-self: start;
  grid-row: 3;
}
.container {
  display: grid;
  grid-template-columns: 40px, 40px, 40px, 40px, 40px;
  grid-gap: 5px;
  grid-template-rows: 1, 1, 1;
  width: 200px;
  margin: 20px;
}
