.container {
  position: absolute;
  display: flexbox;
  flex-flow: row;
  justify-content: flex-end;
  left: 280px;
  z-index: 50;
  width: 100px;
}

.heart {
  position: relative;
}

.like-button {
  position: relative;
  justify-self: end;
  height: 22px;
  width: 30px;
  bottom: 4px;
  border-radius: 5px;
  margin-right: 5px;
}

.like-button:focus {
  outline: 0;
}

.options-button {
  position: relative;
  justify-self: end;
  height: 22px;
  border-radius: 5px;
  bottom: 10px;
}

.options-button:focus {
  outline: 0;
}
