.art {
  height: 50px;
  width: 50px;
  grid-column: 1;
  grid-row: 1 / span 3;
}

.username {
  color: rgb(182, 174, 174);
  justify-self: start;
  grid-column: 2;
  grid-row: 1;
  align-self: start;
}

.title {
  color: rgb(182, 174, 174);
  justify-self: start;
  grid-column: 2;
  grid-row: 2;
  align-self: start;
}

.icon-bar {
  color: rgb(182, 174, 174);
  justify-self: start;
  grid-column: 2;
  grid-row: 3;
  align-self: start;
}

.like-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfbGlrZXNfZ3JleTwvdGl0bGU+PHBhdGggZD0iTTEwLjgwNSAzYy0yLjAyIDAtMi44MDQgMi4zNDUtMi44MDQgMi4zNDVTNy4yMTMgMyA1LjE5NiAzQzMuNDk0IDMgMS43NDggNC4wOTYgMi4wMyA2LjUxNGMuMzQ0IDIuOTUzIDUuNzI1IDYuNDc5IDUuOTYzIDYuNDg3LjIzOC4wMDggNS43MzgtMy43MjIgNS45ODgtNi41QzE0LjE4OCA0LjIwMSAxMi41MDcgMyAxMC44MDUgM3oiIGZpbGw9IiMyMjIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
  width: 16px;
  height: 16px;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40px, 160px;
  grid-template-rows: 1, 1, 1;
  width: 200px;
  margin: 20px;
}
