.container {
  background: blanchedalmond;
  position: absolute;
  bottom: 50px;
  right: -1px;

  border: solid, black;
  height: 150px;
  width: 100px;

  display: grid;
  justify-items: center;
  align-items: center;
}

.art {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.username {
  color: rgb(182, 174, 174);
}

.follower-count {
  color: rgb(182, 174, 174);
}

.follow-button {
  border-radius: 10px;
}
