html {
  background-color: #333333;
}

body {
  font: 12px/1.4 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Garuda,
    Verdana, Tahoma, sans-serif;
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 15%;
}

.outer-player-panel {
  margin-top: 35px;
  background-color: #999999;
}

.inner-player-panel {
}

.player-head {
  height: 560px;
}

.player-song-info {
}

.album-art {
  /* height: 340px;
  width: 340px; */
  height: 100px;
  width: 100px;
}

.player-song {
}

.song-name {
  color: #ffffff;
  background-color: #000000;
  width: auto;
}

.artist-name {
  color: #cccccc;
  background-color: #000000;
  width: auto;
}

.tags {
}

.date-posted {
}

.user-image {
}

.user-name {
}

.user-comment {
}

.play-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: #f50;
  background-color: #f50;
}

.fit-width-to-contents {
  display: inline-block;
  padding: 0 3px;
}
