.art {
  height: 50px;
  width: 50px;
  grid-column: 1;
  grid-row: 1 / span 3;
}

.username {
  color: rgb(182, 174, 174);
  justify-self: start;
  grid-column: 2;
  grid-row: 1;
  align-self: start;
}

.title {
  color: rgb(182, 174, 174);
  justify-self: start;
  grid-column: 2;
  grid-row: 2;
  align-self: start;
}

.year {
  color: rgb(182, 174, 174);
  justify-self: start;
  grid-column: 2;
  grid-row: 3;
  align-self: start;
}

.container {
  display: grid;
  grid-template-columns: 1, 4;
  grid-template-rows: 1, 1, 1;
  width: 200px;
  margin: 20px;
}
