.topbar {
  grid-area: topbar;
  justify-self: center;
  color: rgb(182, 174, 174);
}

.item {
  grid-area: item;
  color: rgb(182, 174, 174);
}

.descriptor {
  justify-self: start;
}

.view {
  justify-self: end;
}

.master-container {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 25px, auto, auto, auto;
  grid-template-areas:
    'topbar'
    'item'
    'item'
    'item';
  justify-items: center;
}
