.topbar {
  grid-area: topbar;
  color: rgb(182, 174, 174);
}

.item {
  grid-area: item;
  color: rgb(182, 174, 174);
}

.container {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 25px, auto, auto, auto, auto;
  grid-template-areas:
    'topbar'
    'item'
    'item'
    'item';
  justify-items: center;
}
